.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(80, 80, 80, 0.75);
    border-radius: 5px;
    color: #ffffff; 
}

.contact-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff; 
}

.centered-paragraph {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.contactForm {
    width: 300px;
}

.contactForm h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
}

.contactForm label {
    display: block;
    margin-bottom: 5px;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contactForm button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactForm button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}
